*    {
    margin: 100;
    padding: 0;
}

.principal {
    background-color: rgb(75, 156, 131);
    width: 80%;
    height: 600px;
    float: right;
    position: relative;
    text-size-adjust: 79;


    
}